@media screen and (min-width: 1280px) {
  .account__nav-link {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .account__wrapper {
    flex-wrap: wrap;
  }

  .account__navigation {
    margin-bottom: 65px;
    width: 100%;
  }

  .account__nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .account__nav-list-item {
    border: none !important;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .orders__order-info-box p {
    margin-right: 30px !important;
  }

  .orders__headline {
    margin-right: 30px;
  }

  .orders__headline--date {
    margin-right: 65px;
  }

  .orders__headline--status {
    margin-right: 55px;
  }
}

@media screen and (max-width: 768px) {
  .orders {
    display: flex;
    flex-wrap: wrap;
  }

  .orders__headlines-box {
    flex-direction: column;
    padding-top: 10px;
  }

  .orders__order-info-box {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 275px;
    align-items: flex-start;
    padding: 13px;
    margin-right: 10px;
  }

  .orders__order-info-box p {
    margin: 0 !important;
    margin-bottom: 20px !important;
  }

  .orders__view-btn {
    bottom: 10px;
    top: auto;
    right: 50%;
    transform: translate(50%, 0);
  }

  .orders__table thead {
    display: none;
  }

  .orders__table tr, 
  .orders__table td {
    display: block;
    clear: both;
    height: auto;
  }

  .orders__table td:not(:last-child) {
    border-bottom: none;
  }

  .orders__table td::before {
    content: attr(data-text);
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    text-transform: none;
  }

  .orders__table tr {
    padding: 20px;
    border-bottom: 8px solid #323232;
    max-width: 100%;
  }

  .orders__table tr, .orders__table td {
    margin: 0 !important;
    max-width: 100%;
  }

  .orders__table td {
    border-bottom: none !important;
    padding: 0;
  }

  .orders__table td::before {
    color: #323232;
  }

  .orders__table td span {
    float: right;
    padding-top: 7px;
  }

  .page-template-tmp-account .login__new-client--account {
    height: 62em;
  }

  .account__nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .account__nav-list-item {
    justify-content: flex-start;
  }
}