@media screen and (max-width: 1279px) {
  .order-received__content-wrap {
    flex-wrap: wrap;
  }

  .order-received__products-info-column {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .order-received__order-info-wrap {
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 15px;
  }

  .order-received__order-info-box {
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .order-received__title {
    font-size: 28px;
    line-height: normal;
  }

  .order-received__product-info-hedlines {
    font-size: 18px;
  }

  .order-received__product-name {
    font-size: 16px;
  }

  .order-received__product-model {
    font-size: 12px;
    margin-top: 4px;
  }

  .order-received__product-quantity {
    font-size: 14px;
  }

  .order-received__product-price {
    font-size: 16px;
  }

  .order-received__total-price-table {
    font-size: 14px;
  }

  .order-received__total-price-table-row td {
    padding-top: 0;
    padding-bottom: 0;
  }

  .order-received__continue-btn {
    font-size: 18px;
    padding: 23px 0;
    padding-left: 28px;
  }

  .order-received__continue-btn::before {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 420px) {
  .order-received__product-info-table {
    float: right
  }

  .order-received__product-info-hedlines {
    display: none;
  }

  .order-received__product-info-content {
    width: 200px;
    padding: 10px 5px !important;
  }

  .order-received__product-name,
  .order-received__product-model {
    margin: 0;
  }

  .order-received__product-info-content,
  .order-received__product-info-content td {
    display: block;
    text-align: left;
    // margin: 14px 0;
  }

  .order-received__product-info-content td {
    position: relative;
    padding-left: 5px !important;
    // padding-top: 1px !important;
    // padding-bottom: 1px !important;
  }

  .order-received__product-info-content td::before {
    content: attr(data-label);
    position: absolute;
    top: 3px;
    left: -95px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

  .order-received__total-price-table-row td:first-child {
    padding-right: 5px;
  }

  .order-received__products-info-column {
    display: block;
  }

  .order-received__continue-img-box {
    padding: 0 20px;
  }

  .order-received__continue-btn::before {
    left: 20px;
  }
}

@media screen and (max-width: 380px) {
  .order-received__continue-btn::before {
    left: 10px;
  }
}