@media screen and (max-width: 992px) {
  .woocommerce-cart-form__cart-item td {
    padding-left: 15px;
  }

  .woocommerce-cart-form__cart-item td:first-child {
    padding-left: 0;
  }

  .product-quantity .quantity button,
  .product-quantity .quantity input {
    width: 40px;
    height: 40px;
  }

  tbody .product-thumbnail {
    width: 190px;
  }

  .total .wc-proceed-to-checkout a {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 768px) {
  table.shop_table_responsive tr td:not(:last-child) {
    border-bottom: none;
  }

  table.shop_table_responsive tr td::before {
    font-weight: 700;
    font-size: 21px;
  }

  .woocommerce-cart-form__cart-item {
    height: auto;
    position: relative;
  }

  .woocommerce-cart-form__cart-item td {
    padding-right: 15px;
  }

  tbody .product-thumbnail {
    width: 100%;
    height: 115px;
    position: relative;
  }

  tbody .product-thumbnail::before {
    position: absolute;
    top: 0;
    left: 15px;
  }

  tbody .product-name a {    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .product-quantity .quantity {
    float: right;
  }

  table.shop_table_responsive tr td.product-remove a {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 9;
  }

  .actions .coupon {
    width: 320px !important;
  }

  tfoot .shipping,
  .total__text-box {
    text-align: left !important;
  }

  .coupon {
    float: left;
    margin-top: 24px;
  }

  .total {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 420px) {
  .shipping__title {
    font-size: 30px;
  }

  // .tfoot tr .shipping label {
  //   font-size: 18px;
  //   padding-left: 30px;
  // }
}