.custom-banner__slider-wrapper {
  width: 100%;
  min-height: 416px;
  position: relative;
}

.custom-banner__slider {
  width: 100%;
  min-height: 416px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.custom-banner__slider.slick-initialized {
  visibility: visible;
  opacity: 1;  
}

.custom-banner__slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.custom-banner__link {
  position: absolute;
  text-decoration: none;
  font-size: 21px;
  color: #fab600;
  font-weight: 700;
  right: 30px;
  bottom: 27px;
  background-color: #323232;
  padding: 10px 25px;
  padding-right: 61px;
}

.custom-banner__link::after {
  content: '';
  position: absolute;
  display: block;
  width: 23px;
  height: 12px;
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(assets/images/icons/y-arr.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.custom-banner__navbar .slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-banner__navbar {
  position: absolute;
  bottom: -20px;
  right: 0;
}

.custom-banner__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.custom-banner__navbar .slick-dots li {
  display: inline-block;
}

.custom-banner__navbar .slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.custom-banner__nav-list-item:not(:last-child) {
  margin-right: 15px;
}

.custom-banner__navbar .slick-dots li button {
  width: 36px;
  height: 3px;
  background-color: #fff;
  opacity: 0.2;
  padding: 0;
  border: none;
  cursor: pointer;
}

.custom-banner__nav-btn {
  width: 36px;
  height: 3px;
  background-color: #fff;
  opacity: 0.2;
  padding: 0;
  border: none;
  cursor: pointer;
}

.custom-banner__nav-btn--active {
  background-color: #f6b108;
  opacity: 1;
}

.slick-active .custom-banner__nav-btn {
  background-color: #f6b108 !important;
  opacity: 1 !important;
}

.shop__text-wrap {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.custom-title {
  color: #fff;
  font-size: 45px;
}

.shop__text-wrap p {
  width: 73.5%;
  margin: 0;
  font-size: 21px;
}

.shop {
  padding-top: 20px;
  padding-bottom: 150px;
}

.widget-title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 57.46px;
}

.product-categories {
  margin: 0;
  list-style: none;
  color: #fff;
  font-size: 21px;
}

.product-categories li {
  list-style-type: none;
}

.product-categories a, 
.product-categories a + span {
  text-decoration: none;
  color: #fff;
  transition: ease-in-out .3s;
}

.product-categories ul a::before {
  content: '-';
  margin-right: 5px;
}

.product-categories a:hover,
.product-categories a:hover + span {
  color: #f7ba05;
  font-weight: 700;
}

.product-categories ul {
  color: #fff;
  padding-left: 14px;
}


.cat-parent a {
  position: relative;
}

.cat-parent > a::before,
.cat-parent > a::after {
  content: '';
  display: block;
  width: 2px;
  height: 10px;
  background-color: #fab600;
  position: absolute;
  top: 10px;
  left: -14px;
  transition: ease-in-out .3s;
}

.cat-parent > a::after {
  transform: rotate(90deg);
  transition: ease-in-out .3s;
}

.cat-parent--active > a::before {
  transform: scale(0);
  transition: ease-in-out .3s;
}

.cat-parent:not(.cat-parent--active) .children {
  display: none;
}

// .children {
//   transition: ease-in-out .3s;
//   transform: scaleY(1);
//   transform-origin: 0 0;
// }

// .child--active {
//   transition: ease-in-out .3s;
//   transform-origin: 0 0;
//   transform: scaleY(0);
//   height: 0;
// }

.filters {
  width: 25%;
}

.shop__products-container {
  width: 75%;
  position: relative;
}

.woocommerce-ordering {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 18px;
}

.orderby {
  appearance: none;
  border: none;
  background: transparent;
  color: #fff;
  cursor:  pointer;
  font-size: 21px;
}

.woocommerce-ordering label {
  position: relative;
}

.woocommerce-ordering label::before {
  content: '';
  background-image: url(assets/images/icons/dropdown.svg);
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: -28px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.shop__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 57.46px;
}

.shop__title--abs {
  position: absolute;
  top: -14px;
  left: 20px;
}

.fake-item {
  width: 160px;
  margin-right: 15px;
  height: 0px;
  order: 9999;
  display: none;
}

.product-item small,
.product-item small span,
.product-item small span span {
  font-size: 14px;
  font-weight: 400;
}