.woocommerce-notices-wrapper {
  width: 100%;
  margin-bottom: 10px;
  // position: relative;
}

.woocommerce-notices-wrapper--login,
.woocommerce-notices-wrapper--account,
.woocommerce-notices-wrapper--forgot-pass {
  display: flex;
  justify-content: center;
}

.woocommerce-notices-wrapper--checkout {
  display: flex;
  justify-content: flex-end;
}

.woocommerce-message--login-page {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.woocommerce-message {
  float: right;
  // background-color: #fbba00 !important;
  background-color: #fff !important;
  min-height: 47px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding-right: 150px;
  padding-left: 50px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #323232;
  list-style: none;
  // position: absolute;
  // right: 0;
  // top: -60px;
}

.woocommerce-notices-wrapper--login .woocommerce-message,
.woocommerce-notices-wrapper--checkout .woocommerce-message,
.woocommerce-notices-wrapper--account .woocommerce-message,
.woocommerce-notices-wrapper--forgot-pass .woocommerce-message {
  padding-right: 40px;
}

.woocommerce-shop .woocommerce-message {
  // position: relative;
  // top: -10px;
}

.woocommerce-notices-wrapper--forgot-pass ul {
  list-style: none;
}

.woocommerce-message a {
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #414141;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  padding: 0 20px;
  background-color: #fbba00;
}

.woocommerce-message .w-close-btn {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(assets/images/icons/close-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  position: absolute;
  left: 20px;
}

.woocommerce-shipping-methods {
  list-style: none;
}

.woocommerce-message--hidden {
  display: none !important;
}

.woocommerce-password-strength, .woocommerce-password-hint, .optiona {
  display: none;
}

// .login .woocommerce-message {
//   position: static;
// }

@media screen and (min-width: 1280px) {
  .woocommerce-NoticeGroup-checkout .woocommerce-message {
    min-width: 500px
  }

  .woocommerce-NoticeGroup-checkout .woocommerce-message li:not(:last-child) {
    margin-right: 14px;
  }
}

@media screen and (max-width: 1279px) {
  .woocommerce-notices-wrapper--checkout {
    justify-content: flex-start; 
  }
}

@media screen and (max-width: 992px) {
  .woocommerce-message {
    position: relative;
    // right: 0;
    // top: -10px;
  }
}


@media screen and (max-width: 768px) {
  .woocommerce-message {
    width: 100%;
    padding-right: 120px;
    padding-left: 50px;
  }

  .woocommerce-message a {
    padding: 0 12px;
  }

  .woocommerce-message .w-close-btn {
    left: 10px;
  }

  .woocommerce-notices-wrapper--login,
  .woocommerce-notices-wrapper--forgot-pass {
    margin-top: 20px;
  }

  .woocommerce-notices-wrapper--login ul,
  .woocommerce-notices-wrapper--account ul,
  .woocommerce-notices-wrapper--forgot-pass ul {
    padding-left: 10px;
  }

  .woocommerce-shipping-methods {
    padding: 0;
  }
}

.woocommerce-notices-wrapper {
  // position: relative;
//   opacity: 0;
//   transition: ease-in-out .5s;
//   position: absolute;
//   z-index: 9;
//   right: 20px;
//   transform: translateY(0);
  z-index: 99999;
  position: fixed;
  right: 35px;
  width: auto;
}

@media screen and (max-width: 650px) {
  .woocommerce-notices-wrapper {
    width: 95vw;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 411px) {
  .woocommerce-message {
    position: absolute;
    bottom: -20px;
  }
}


.shop .woocommerce-notices-wrapper,
.woocommerce-notices-wrapper--account {
  //top: 180px;
  bottom: -27px;
}

//.login .woocommerce-notices-wrapper {
//  top: 290px;
//}

// .woocommerce-notices-wrapper--visible {
//   transform: translateY(-100%);
//   opacity: 1;
//   transition: ease-in-out .5s;
// }

.woocommerce-message {
  opacity: 0;
  transition: ease-in-out .5s;
  // position: absolute;
  // top: 50%;
  // right: 20px;
  z-index: 9;
  // right: 47%;
  // transform: translateX(100%) !important;
  transform: translateY(0);
  animation: toTop 1s forwards;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  max-width: 600px;
}

@keyframes toTop {
  from {transform: translateY(0); opacity: 0;}
  to {transform: translateY(-100%); opacity: 1;}
}

@keyframes toBottom {
  from {transform: translateY(-100%); opacity: 1;}
  to {transform: translateY(0); opacity: 0;}
}